.blueSection{
    background: #16697A;
    
}
.darckerSection{
    width: 1440px;
height: 808px;
    background: #F3F3F3;
    margin: auto;
}

html {
    box-sizing: border-box;
    background: #FAFAFA;
    }
    
    *,
    *:before,
    *:after {
    box-sizing: inherit;
}
:root{
    --color-white:#FFFFFF;
    --color-same-blue:#00A0C1;
    --color-same-gray:#737373;
    --color-same-black:#252B42;
}
    
a{
    text-decoration: none;
}
nav{
    position: absolute;
width: 1322px;
height: 104px;
    left: calc(50% - 1322px/2);
    top:0px;
}
.menu li{
    display: inline;
    margin-right: 21px;
}
.menu{
    position: absolute;
width:350px;
height: 24px;
left: 359px;
top:40px;

    display: inline-block;
    padding:0px;
    margin:0px;
}
.menu a
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
       
    text-align: center;
    letter-spacing: 0.2px;
    
    color:var(--color-same-gray);
}
#Icon{
    position: absolute;
width: 187px;
height: 58px;
left: calc(50% - 187px/2 - 431.5px);
top:36px;
    margin-right: 117px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color:var(--color-same-black);
    letter-spacing: 0.1px;
   
}
#back{
    
    position: absolute;
    height: 793px;
    width: 100%;
}
#menu{
    position: absolute;
width: 24px;
height: 13.71px;
left: calc(50% - 24px/2 + 649px);
top: 45px;

}
header{
    position: static;
    height: 924px;
    left: calc(50% - 1440px/2);
    top: 0px;
}
#SLider{
    padding: 80px 0px;

position: absolute;
width: 1046px;
height: 788px;
left: calc(50% - 1046px/2);
top: 104px;
}
#H1S1{
    position: static;
width: 509px;
height: 160px;
left: 0px;
top: 0px;

/* h1 */

font-family: "Montserrat";
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 80px;
/* or 138% */

letter-spacing: 0.2px;

/* text-color */

color: var(--color-same-black);
margin: 0px;
}
#H4S1{
    position: static;
width: 376px;
height: 60px;
left: 0px;
top: 195px;

/* h4 */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* or 150% */

letter-spacing: 0.2px;

/* second-text-color */

color: var(--color-same-gray);
margin-top: 35px;
margin-bottom: 35px;
}
#S1{
    padding: 0px;

position: static;
width: 509px;
height: 338px;
left: calc(50% - 509px/2 - 315px);
top: 0px;
}
#LM{
    padding: 0px;
position: static;
width: 154px;
height: 48px;
left: 195px;
top: 0px;

/* secondary-color-1 */

border: 1px solid var(--color-same-blue);
border-radius: 37px;
}
#GQN{
    margin-right: 10px;
    position: static;
    padding: 0px;
width: 185px;
height: 48px;
left: 0px;
top: 0px;

/* primary-color */
border:0px solid;
background: #FFA62B;
border-radius: 37px;
}
#SGQN{
    font-family: "Montserrat";
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 28px;
/* identical to box height, or 200% */

text-align: center;
letter-spacing: 0.2px;

/* light-text-color */

color: var(--color-white);
width: 120px;
height: 28px;
margin: 10px 36px;
}
#SLM{
    position: static;
left: 23.38%;
right: 23.38%;
top: 20.83%;
bottom: 20.83%;

/* btn-text */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 28px;
/* identical to box height, or 200% */

text-align: center;
letter-spacing: 0.2px;

/* secondary-color-1 */
margin: 0px;
color: var(--color-same-blue);
margin: 10px 36px;
width: 85px;
}
.flex{
    display: flex;
    align-items: center;
    padding: 0px;
    position: static;
    width: 1046px;
    height: 210px;
    left: calc(50% - 1046px/2);
    top: 498px;
    margin: 80px 0px;
}
.Book{
    padding: 35px 40px;
    width: 328px;
    height: 210px;
    background: var(--color-same-blue);
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.bookBText{
    position: static;
width: 222px;
height: 32px;
left: 40px;
top: 93px;
/* h3 */


font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: var(--color-white);
margin: 10px 0px;
}
.bookSText{
    position: static;
width: 213px;
height: 40px;
left: 40px;
top: 135px;

/* paragraph */

font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;


/* or 143% */

letter-spacing: 0.2px;

/* light-text-color */

color: var(--color-white);
margin: 0px;
}
.Square{
    background: var(--color-white);
/* SHADOW */

box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
margin: 0px 30px;
}
.Bag{
    margin:0px;
}
.SqaureSText{
    color: var(--color-same-gray);
    width: 224px;
}
.SqaureBText{
    width: 270px;
    margin: 10px 0px;
    color: var(--color-same-black);
}
.contain{
    width: 1050px;
height: 526px;
margin: auto;
}
.MyParagraph{
    font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;
letter-spacing: 0.2px;
color: var(--color-same-gray);
width: 511px;
height: 40px;
margin: auto;
}
.MyH2{  
    font-family: "Montserrat";
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 57px;
color: var(--color-same-black);
width: 370px;
height: 57px;
margin: auto;
}
.containMyH2{
    width: 864px;
height: 107px;
margin: auto;
}
.rowChoose{
    width: 1079px;
height: 209px;
left: calc(50% - 1049px/2);
margin: 50px 0px;
}
.MyH5{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
margin: 0px;

color: var(--color-same-gray);
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.1px;
}
.mar0{
    margin-right: 0px;
    margin-top: 0px;
}
.rowstwo div{
    margin-right: 30px;
    width: 240px;
height: 209px;
background: var(--color-white);
}
.MyH2Size{
    margin: 10px 91px;
    width: 81px;
}
.Vectors img{
    margin: 30px 91px 0px 91px;
}
.PracticeSectionSize{
    height: 699px;
    padding-bottom: 80px;
    padding-top: 80px;
}
.MyPracticeSize{
    margin: auto;
    text-align: center;
    width: 470px;
    margin-bottom: 10px;
}
.contFLex{
    width: 1049px;
height: 342px;
margin-top: 0px;
margin: auto;
}
.MytwoflexBigSize{
    text-align: left;
    margin-bottom: 15px;
}
.MytwoflexSize{
    width: 179px;
    height: 80px;
    margin: 0px;
    text-align: left;
}
.contFLex div div{
    padding: 30px;
    margin-right: 30px;
    background: var(--color-white);
    width: 230px;
}
.sizerow{
    height: 341px;
}
.PracticePadding{
    padding: 45px 0px;
    height: 197px;
}
.MyBestSize{
    width: 480px;
    height: 114px;
    text-align: center;
    margin-bottom: 15px;
}
.MyBestSectionSize{
    padding: 100px 0px;
    width: 1050px;
height: 911px;
margin: auto;
}
.sizevideo{
    width: 1053px;
    height: 442px;
    margin-top: 100px;
}
.MyH5Video{
    width: 277px;
    height: 48px;
    color: var(--color-same-black);
    margin-left: 20px;
    text-align: left;
}
.MyH6{
    font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
text-align: left;
margin-left: 52px;
}
.sizevideoMyH2{
    width: 324px;
    height: 114px;
    margin: 0px 0px 10px 0px;
}
.sizevideoMyParagraph{
    width: 330px;
    height: 60px;
    text-align: left;
    margin: 0px 0px 50px 0px;
}
.SizeRightofVideo{
width: 400px;
height: 438px;
margin-left: 120px;
}
.flexDiv{
    display: flex;
    margin-top: 30px;
}
.flexDiv img{
    height: 32px;
}
iframe{
    border-width: 0px;
}
.imagerow{
    margin: auto;
    height: 175px;
}
.imagerow img{
    margin-right: 30px;
}
.MyH3{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* or 133% */

letter-spacing: 0.1px;

/* light-text-color */

color:var(--color-white);
width: 258px;
height: 64px;
margin:30px 50px;
}
.InputDiv{
    display: flex;
    width: 986px;
    height: 124px;
    background: #16697A;
    border-radius: 2px;
    align-items: center;
    margin: auto;
}
.Sub{
    background-color: #FFA62B;
    border: 1px solid #E6E6E6;
box-sizing: border-box;
border-radius: 0px 5px 5px 0px;
width: 117px;
height: 58px;
margin-right: 48px;
color: var(--color-white);
}
.Email{
    margin-left: 130px;
    background: #F9F9F9;
border: 1px solid #E6E6E6;
height: 58px;
color: var(--color-same-gray);
padding-left: 20px;
}
.MarginProb{
    margin-top: 10px;
    margin-bottom: 160px;
}
.PostFlex{
    margin: auto;
    max-width: 984px;
}
.Loc{
    background-color: #252B42;
    text-align: center;
    width: 328px;
    height: 393px;
    padding-top: 80px;
}
.Tel{
    background-color: var(--color-white);
    text-align: center;
    width: 328px;
    height: 333px;
    padding-top: 50px;
}
.Loc div{
    width: 221px;
height: 48px;
margin: auto;
text-align: center;
color: var(--color-white);
}
.Tel p{
    width: 221px;
    height: 48px;
    margin: auto;
    text-align: center;
    color: #252B42;
}
.Tel button{
    align-items: center;
padding: 10px 20px;

width: 160px;
height: 44px;
border: 1px solid #FFA62B;
box-sizing: border-box;
border-radius: 5px;
color: #FFA62B;
background-color: var(--color-white);
margin: auto;
}
.Loc button{
    align-items: center;
    padding: 10px 20px;
    
    width: 160px;
    height: 44px;
    border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
color: var(--color-white);
background-color: #252B42;
margin: auto;
}
.H3Footer{
    color: #252B42;
}
.footerflex{
    max-width: 1041px;
    max-height: 170px;
    color:black;
}
.IconFooter{
    max-height: 170px;
    color: var(--color-white);
}
table{
    vertical-align: middle;
    display: table-column;
}
.FooterFirst div p{
    text-align: left;
}
.ParMar{
    margin-left: 195px;
    margin-right: 398px;
}
.FooterFirst{
    background-color: #FAFAFA;
    width: 100%;
    height: 62px;
    margin: auto;
}
.FooterFirst button{
    width: 160px;
height: 58px;
background: #FFA62B;
border-radius: 5px;
color: white;
}